<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Hello Emo Rose!</title>
  </head>
  <body>
    <div id="root"></div>

    <webview
      src="https://www.laoyuegou.com/"
      preload="file:///Users/jax/Documents/mine/qiangguo/src/renderer/a.js"
      plugins
    />
  </body>
</html>
